@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #2a2d2a; /*can replace with image*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family:  'Oswald', serif;
}
nav{
    background-color: #2a2d2a;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #bacaa1;
}
nav li:first-child{
    margin-right: auto;
}

nav a:hover{
    color: #e65010ef;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #2a2d2a;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 70%;
}
.menu-button{
    display: none;
}
@media(max-width: 600px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(min-width: 601px){
    .sidebar{
        display:none;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

.centered-div {
    text-align: center;
    color: #bacaa1;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 40;
    padding-bottom: 10%; 
}

.spacer { display:block; width:100%; height:2rem; }     /* default vertical spacer */
.spacer-sm { height:.5rem; }
.spacer-md { height:1rem; }
.spacer-lg { height:2rem; }
.spacer-xl { height:4rem; }


h1{
    text-align: center;
    color: #bacaa1;
    font-family: 'Oswald', serif;
    font-size: 60px;
    padding-top:70px;
    margin-bottom: 0;
}
@media(max-width: 600px){
    h1 {
        font-size: 50px;
    }
}

h2{
    text-align: center;
    color: #bacaa1;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 0;
}
@media(max-width: 600px){
    h2 {
        font-size: 20px;
    }
}


h3{
  text-align: left;
  color: #bacaa1;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  padding: 30px;
}

p{
  text-align: left;
  color: #bacaa1;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  padding: 10px;
}

h4{
  text-align: center;
  color: #bacaa1;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  padding: 25px;
}

.vimeo {
    position: relative;
    padding: 15%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 60%;
    margin: auto;
    border-radius: 10px;
}

.vimeo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.youtube {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.youtube iframe {
    aspect-ratio: 16 / 9;
    width: 50% !important;
    border-radius: 10px;
}




.home-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #bacaa1;
    color: #2a2b2d;
    font-family: 'Oswald', serif;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    margin: 20px 20px;

}

.home-btn:hover {
    background-color: #e65010ef;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}







.project-btn {
    width: 448px;
    height: 252px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: normal;
    align-items: center;
    vertical-align: middle;
    color: rgba(0,0,0,0);
    font-family: 'Oswald', serif;
    font-weight: normal;
    font-size: 60px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;

    margin: 10px;
    background-size: 100% auto;

}

.project-btn:hover {
    color: rgb(255, 255, 255);
}


.vineGrowth {
    background-image: url("./images/vineGrowth/Procedural_Vine_Growth_Final_00245.png");
}
.vineGrowth:hover {
    background-image: url("./images/vineGrowth/vines_full_dark.jpg");
}


.divinationHome {
  background-image: url("./images/divinationHome/Home_Model_v3.0120.png");
}
.divinationHome:hover {
    background-image: url("./images/divinationHome/divination_dark.jpg");
}


.tropicalEscape {
  background-image: url("./images/tropicalEscape/FishSequence.0000.jpeg");
}
.tropicalEscape:hover {
  background-image: url("./images/tropicalEscape/tropicalescape_dark.jpg");
}


.oshkosh {
  background-image: url("./images/oshkoshScripts/oshkosh_material.jpg");
}
.oshkosh:hover {
  background-image: url("./images/oshkoshScripts/oshkosh_dark.jpg");
}


.empireOfLight {
  background-image: url("./images/empireOfLight/VSFX316_MoodMatch_Bouquet_v02MoodChange1_0001.png");
  background-size: 130% 100%;

}
.empireOfLight:hover {
  background-image: url("./images/empireOfLight/VSFX316_MoodMatch_Export_v1.png");
  background-size: 130% 100%;
}

.proceduralBuildings {
  background-image: url("./images/proceduralBuildings/comp5.png");
  background-size: 130% 100%;

}
.proceduralBuildings:hover {
  background-image: url("./images/proceduralBuildings/proceduralbulding_dark.jpg");
  background-size: 130% 100%;
}

.VEXdrink {
  background-image: url("./images/VEXdrink/SAV_Fall2025_VFX_SanikaGodbole_Steele_Project5a_FINAL_WITH_EDITS.png");

}
.VEXdrink:hover {
  background-image: url("./images/VEXdrink/vexdrink_dark.jpg");
}

.jblPlug {
    background-image: url("./images/jblPlug/W25_V316_P2_GodboleSanika_Render.png");
    background-size: 105% 105%;
}
.jblPlug:hover {
    background-image: url("./images/jblPlug/jbl_dark.jpg");
    background-size: 105% 105%;
}


.jade {
    background-image: url("./images/jade/stoneLionsPOC.png");
    background-size: 105% 105%;
}
.jade:hover {
    background-image: url("./images/jade/stoneLionsPOC_dark.jpg");
    background-size: 105% 105%;
}



.process-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: #bacaa1;
    color: #2a2b2d;
    font-family: 'Oswald', serif;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    margin: 20px;

}

.process-btn:hover {
    background-color: #e65010ef;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}

.image {
  padding: 2rem; /* space around the image */
  text-align: center; /* keeps it centered */
}

.image img {
  width: 100%; 
  height: auto;
  max-width: 1000px;
  border-radius: 0px; 
}

.image iframe {
    position: absolute;
    top: 50;
    left: 100;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
}



.fineArt {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fineArt img {
    width: auto;
    height: 300px;
    margin: 10px;
    object-fit: cover;
    border-radius: 0px;
}